<a href="https://colab.research.google.com/github/Souriish9/BankTelemarketingPred-RecursiveFeatureElimination-RFE/blob/master/BTP_RFE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bank Telemarketing Predictions

Recursive Feature Elimination

In [16]:
import pandas as pd

In [17]:
dataset=pd.read_csv('bank.csv')

In [18]:
f=dataset.copy()

In [19]:
f.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

Drop Feature --> Durations

In [20]:
f=f.drop(['duration'],axis=1)

Split into X & Y

In [21]:
X=f.iloc[:,:-1]
Y=f.iloc[:,-1]

In [22]:
X=pd.get_dummies(X,drop_first=True)
Y=pd.get_dummies(Y,drop_first=True)

Train Test Split

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.3,random_state=1234)

Random Forest Classifier

In [24]:
from sklearn.ensemble import RandomForestClassifier
rfc1=RandomForestClassifier(random_state=1234)
rfc1.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(random_state=1234)

In [25]:
y_pred=rfc1.predict(x_test)

In [26]:
rfc1.score(x_test,y_test)

0.8904264789188314

Confusion Matrix

In [27]:
from sklearn.metrics import confusion_matrix
cm1=confusion_matrix(y_test,y_pred)
cm1

array([[10599,   361],
       [  993,   404]])

# RFE

In [32]:
from sklearn.feature_selection import RFE

Get an object Estimator

In [35]:
rfc2=RandomForestClassifier(random_state=1234)
rfe=RFE(estimator=rfc2,n_features_to_select=30,step=1)

In [ ]:
rfe.fit(X,Y)

In [37]:
x_train_rfe=rfe.transform(x_train)
x_test_rfe=rfe.transform(x_test)

In [38]:
x_train_rfe.shape

(28831, 30)

In [39]:
x_train_rfe

array([[ 31.,   2., 999., ...,   1.,   1.,   0.],
       [ 36.,   2., 999., ...,   0.,   1.,   0.],
       [ 36.,   2., 999., ...,   0.,   1.,   0.],
       ...,
       [ 43.,   3., 999., ...,   0.,   1.,   0.],
       [ 39.,   4., 999., ...,   1.,   1.,   0.],
       [ 46.,   3., 999., ...,   0.,   1.,   0.]])

In [43]:
rfc2.fit(x_train_rfe,y_train)
y_pred2=rfc2.predict(x_test_rfe)
rfc2.score(x_test_rfe,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

0.8902646273367322

In [44]:
from sklearn.metrics import confusion_matrix
cm2=confusion_matrix(y_test,y_pred2)
cm2

array([[10598,   362],
       [  994,   403]])

Know the selected cols list

In [47]:
columns=list(X.columns)
columns

['age',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'euribor3m',
 'nr.employed',
 'job_blue-collar',
 'job_entrepreneur',
 'job_housemaid',
 'job_management',
 'job_retired',
 'job_self-employed',
 'job_services',
 'job_student',
 'job_technician',
 'job_unemployed',
 'job_unknown',
 'marital_married',
 'marital_single',
 'marital_unknown',
 'education_basic.6y',
 'education_basic.9y',
 'education_high.school',
 'education_illiterate',
 'education_professional.course',
 'education_university.degree',
 'education_unknown',
 'default_unknown',
 'default_yes',
 'housing_unknown',
 'housing_yes',
 'loan_unknown',
 'loan_yes',
 'contact_telephone',
 'month_aug',
 'month_dec',
 'month_jul',
 'month_jun',
 'month_mar',
 'month_may',
 'month_nov',
 'month_oct',
 'month_sep',
 'day_of_week_mon',
 'day_of_week_thu',
 'day_of_week_tue',
 'day_of_week_wed',
 'poutcome_nonexistent',
 'poutcome_success']

In [50]:
ranking=rfe.ranking_
ranking
#Marked 1's are selected

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  5, 11,  1,  1,  3,  1,  6,
        1,  8, 16,  1,  1, 20,  4,  1,  1, 22,  1,  1,  2,  1, 23,  7,  1,
       13,  1,  1, 17, 21, 15, 14, 10, 12, 19,  9, 18,  1,  1,  1,  1,  1,
        1])

In [52]:
feature_importance=rfc1.feature_importances_
rfe_selected=pd.DataFrame()

In [53]:
rfe_selected=pd.concat([pd.DataFrame(columns),pd.DataFrame(ranking),pd.DataFrame(feature_importance)],axis=1)

In [56]:
rfe_selected.columns=["Feature Name","Ranking","Feature Importance"]
rfe_selected

                     Feature Name  Ranking  Feature Importance
0                             age        1        1.692987e-01
1                        campaign        1        8.429217e-02
2                           pdays        1        3.334630e-02
3                        previous        1        1.914051e-02
4                    emp.var.rate        1        2.094487e-02
5                  cons.price.idx        1        2.324114e-02
6                   cons.conf.idx        1        2.918636e-02
7                       euribor3m        1        1.267431e-01
8                     nr.employed        1        5.497703e-02
9                 job_blue-collar        1        1.374079e-02
10               job_entrepreneur        5        6.347876e-03
11                  job_housemaid       11        5.343349e-03
12                 job_management        1        1.086981e-02
13                    job_retired        1        8.193350e-03
14              job_self-employed        3        7.850659e-03
15                   job_services        1        1.087240e-02
16                    job_student        6        6.060695e-03
17                 job_technician        1        1.832949e-02
18                 job_unemployed        8        5.918517e-03
19                    job_unknown       16        2.510084e-03
20                marital_married        1        2.115661e-02
21                 marital_single        1        1.753702e-02
22                marital_unknown       20        7.978410e-04
23             education_basic.6y        4        7.232356e-03
24             education_basic.9y        1        1.316028e-02
25          education_high.school        1        1.714939e-02
26           education_illiterate       22        3.653546e-04
27  education_professional.course        1        1.295482e-02
28    education_university.degree        1        1.731273e-02
29              education_unknown        2        7.544662e-03
30                default_unknown        1        1.524310e-02
31                    default_yes       23        9.552779e-08
32                housing_unknown        7        3.552605e-03
33                    housing_yes        1        3.843560e-02
34                   loan_unknown       13        3.659090e-03
35                       loan_yes        1        2.473843e-02
36              contact_telephone        1        1.494466e-02
37                      month_aug       17        2.266179e-03
38                      month_dec       21        8.230507e-04
39                      month_jul       15        2.352720e-03
40                      month_jun       14        2.596555e-03
41                      month_mar       10        4.129150e-03
42                      month_may       12        3.479683e-03
43                      month_nov       19        2.118375e-03
44                      month_oct        9        6.344282e-03
45                      month_sep       18        2.001902e-03
46                day_of_week_mon        1        1.561581e-02
47                day_of_week_thu        1        1.613063e-02
48                day_of_week_tue        1        1.628647e-02
49                day_of_week_wed        1        1.605307e-02
50           poutcome_nonexistent        1        9.010008e-03
51               poutcome_success        1        2.780027e-02